.wrapper {
  display: flex;
}

.side_bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.home {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.chat-button a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;

}
.top {
  width: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.room{
  padding: 20px 0 40px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.hedder {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.group-name {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chat-end {
  margin-top: 40px;
}

.chat-end a {
  color: darkred;
  text-decoration: none;
  border: 1px solid darkred;
  padding: 20px ;
}

.talk-area {
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin-bottom: 40px;
}

.upper-message {
  display: flex;
}

.name {
  font-size: 16px;
  color: #434A54;
  margin-right: 10px;
}

.date {
  font-size: 12px;
  color: #999;
  
}

.message1{
  font-size: 14px;
  color: #434A54;
  margin-top: 10px;
}

.fooder {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  font-size: 16px;
  color: white;
  padding: 0 20px;
  height: 50px;
  margin-left: 15px;
  border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}